<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript Patterns</string>
	<key>uuid</key>
	<string>CA401363-60FC-4F45-B398-1FE64D80BC6E</string>
</dict>
</plist>
